---
import { ProductsMen } from "../data/productsMen"
import ProductCard from "./ProductCard.astro"

const firstsProducts = ProductsMen.slice(0, 4)
const firsts3Products = ProductsMen.slice(0, 3)
---

<section class="my-8 mx-5 md:mx-10 relative">
    <div class="py-3 w-full">
        <div class="flex justify-between">
            <h2 class="font-bold">
                Men Autumn Collection 2025
            </h2>
            <div>See Full Collection</div>
        </div>
    </div>
    <ul class="grid grid-cols-2 md:grid-cols-10 place-items-end gap-3 md:gap-14 md:hidden">
        {firstsProducts.map((el, i) => (
            <ProductCard 
                id={el.id} 
                name={el.name} 
                price={el.price} 
                imageUrl={el.img}
                style={`${i === 1 ? 'md:col-span-4' : 'col-span-1 md:col-span-3'}`} />
        ))}
    </ul>
    <ul class="hidden md:grid grid-cols-2 md:grid-cols-12 place-items-end gap-3 md:gap-4">
        {ProductsMen.map((el, i) => (
            <ProductCard 
                id={el.id} 
                name={el.name} 
                price={el.price} 
                imageUrl={el.img}
                style={`${i < 3 ? 'md:col-span-4' : 'col-span-1 md:col-span-3'}`} />
        ))}
    </ul>
</section>