---
const { id, name, price, imageUrl, style } = Astro.props;
---

<article class={`relative flex flex-col justify-end max-h-[632px] w-full overflow-hidden cursor-pointer ${style}`}>
    <div class=" w-full h-auto aspect-4/6 md:aspect-9/12 overflow-hidden">
        <img
            class="object-cover h-full w-full hover:scale-105 transition"
            src={`images/${imageUrl}`} alt={name}>
    </div>
    <div class="w-full bg-white flex flex-col justify-center pt-1 pr-2 text-[0.70rem] font-normal">
        <p class="truncate">
            {name}
        </p>
        <p>
            {price}
        </p>
    </div>
    <div class="absolute top-2 size-5 right-2 rounded-4xl">
        <button class="flex justify-center items-center size-full text-sm">
            <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
              </svg>              
        </button>
    </div>
</article>