---
import { ProductsWomen } from "../data/productsWomen"
import ProductCard from "./ProductCard.astro"

const firstsProducts = ProductsWomen.slice(0, 4)
const firsts3Products = ProductsWomen.slice(0, 3)
---

<section class="my-5 md:my-[4.5rem] relative">
    <div class="py-5 md:py-[4rem] md:absolute top-0 w-full">
        <div class="flex justify-between">
            <h2>
                Women Autumn Collection 2025
            </h2>
            <div>See Full Collection</div>
        </div>
    </div>
    <ul class="grid grid-cols-2 md:grid-cols-10 place-items-end gap-3 md:gap-14 md:hidden">
        {firstsProducts.map((el, i) => (
            <ProductCard 
                id={el.id} 
                name={el.name} 
                price={el.price} 
                imageUrl={el.img}
                style={`${i === 1 ? 'md:col-span-4' : 'col-span-1 md:col-span-3 md:h-9/12'}`} />
        ))}
    </ul>
    <ul class="hidden md:grid grid-cols-2 md:grid-cols-10 place-items-end gap-3 md:gap-14">
        {firsts3Products.map((el, i) => (
            <ProductCard 
                id={el.id} 
                name={el.name} 
                price={el.price} 
                imageUrl={el.img}
                style={`${i === 1 ? 'md:col-span-4' : 'col-span-1 md:col-span-3 md:h-9/12'}`} />
        ))}
    </ul>
</section>